/* Color scheme https://coolors.co/002b3f-a9c3da-0d5877-04050a-457ca5*/

.App {
  text-align: center;
  display: flex;
  flex-flow: row;
  background-color: #A9C3DA;
}

.navBar {
  background-color: #002B3F;
  color: #BE8900;
}

.centerBody {
  float: left;
  flex: 2;
 }

.leftBannerDiv {
  float: left;
 }

#leftBanner {
 height: 100vh;
 width: 15vw;
 min-width: 150px;
}

.rightBannerDiv {
  float: right;
 }

#rightBanner {
  height: 100vh;
 width: 15vw;
 min-width: 150px;
 }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
