.modal-content {
  background-color: transparent;
}

.modal-background {
  background-color: rgba(4, 5, 10, 0.501);
  color: white;
  border-bottom: 0px;
  border-top: 0px;
}

.modal-content-event {
  max-width: 800px;
}
.modal-background-event {
  background-color: rgb(255, 255, 255);
  border-bottom: 0px;
  border-top: 0px;
}